<div class="section-header">About Us</div>

<section class="row">
    {{!-- HOURS OF OPERATION BOX --}}
    <div class="col-sm-12 opt-border">
        <div class="opt-box">
            <a class="proj-title">
                Chris Pavlovich - Owner and Support Specialist
            </a>

            {{!-- <div class="align-items-center"> --}}
                <img src="./pictures/christopher-pavlovich-headshot.jpg" class="center-image">
            {{!-- </div> --}}

            <p class="proj-text">
                My name is Chris Pavlovich, and I am from Gig Harbor, Washington. I spent many spring breaks visiting family in Surprise, Arizona and have always loved it here. I graduated from Bellarmine Prep in 2014 and found myself studying at the College of Electrical Engineering and Computer Science at Oregon State University (OSU) where I met my wife, Erica. We got married a few years later through St. Matthew’s Catholic Church in Hillsboro. While studying at OSU, I worked on campus at the CoSINE Help Desk, supporting faculty across several departments. This opened the door to a Technical Marketing and Engineering position at Intel's Hawthorn Farm campus, where my team and I created marketing demos for all products that contained Intel chips. We also provided technical support for a production lab of about 20 people. My field of study is Computer Science, but my passion is for all types of computer and software engineering. Nothing makes me happier than using my experience to help people be successful with technology.
            </p>

            <a class="proj-title">Community Outreach</a>
            <p class="proj-text">
                We are looking for ways to give back! Follow us on social media using the links in the banner at the end of this page. We will be posting about free technical support sessions in community centers near you! Drop by for free support and to get to know us.
            </p>

            <a class="proj-title">Terms of Service</a>
            <p class="proj-text"> 
                Scheduling a virtual appointment will result in a bill for at least 30 minutes. Scheduling a Hands-On appointment will result in a bill for at least 60. All appointments must be cancelled at least 4 hours in advance, or you may be billed up to 50%.
            </p>
        </div>
    </div>
</section>