<div class="section-header">Hours of Operation</div>

<section class="row">
    {{!-- HOURS OF OPERATION BOX --}}
    <div class="col-sm-12 opt-border">
        <div class="opt-box">
            <a class="proj-title">Residential</a>
            <p class="proj-text">
                Standard hours are 9:00am to noon and 1:00pm to 5:00pm. Weekend appoints available from 10:30am to noon and 1:00pm to 3:30 pm at a higher rate. None of these slots work for you? Reach out, we make exceptions.
            </p>

            <a class="proj-title">Small Business</a>
            <p class="proj-text">
                Extended hours, we are here for you! We can perform upgrades after hours so as not to disturb workflow.
            </p>
        </div>
    </div>
</section>