<div class="section-header">Hands-On Services</div>

<section class="row">

    <div class="col-sm-4 opt-border">
        <div class="opt-box">
            <a class="proj-title">New Device Setup</a>
            <p class="proj-text">
                This is a computer or phone "out of box experience" which can sometimes be overwhelming, especially when you have a lot of applications that need some additional setup. This is best done in person since remote connections can only happen after the first login.
            </p>
        </div>
    </div>
    
    <div class="col-sm-4 opt-border">
        <div class="opt-box">
            <a class="proj-title">Advanced Software Support</a>
            <p class="proj-text">
                For more complex application failures or a full <a class="active-link" href="https://en.wikipedia.org/wiki/Blue_screen_of_death">blue screen</a> we will need physical access to the computer or server. This is often the result of missing files on your system required to run windows or whatever software you are having issues with, or a result of certain types hardware failures.
            </p>
        </div>
    </div>

    <div class="col-sm-4 opt-border">
        <div class="opt-box">
            <a class="proj-title">Hardware Refresh</a>
            <p class="proj-text">
                We take note of essentials on your computer and reinstall the operating system. This guarantees that all viruses and other types of malware are removed along with all the unwanted applications that have accumulated over the years. We recommend this be done every two years to ensure your device runs optimally.
            </p>
        </div>
    </div>
</section>

<section class="row">
        <div class="col-sm-7 opt-border">
            <div class="opt-box">
                <a class="proj-title">Computer Installation or Repair</a>
                <p class="proj-text">
                    From memory to power failures, we have you covered! If it can be fixed, we will make it happen. If you schedule a laptop repair, please note that certain components on laptops often cannot be replaced, like the CPU. For hardware failures we ask that you provide as much information as possible before scheduling an in-person appointment. This allows us to come more prepared, hopefully avoiding a follow-up appointment.
                </p>
                <p class="proj-text">
                    Hardware repairs will usually be cheaper if you drop off your device at our service location! This is because we can help other customers while we wait for slower processes to be completed, and we will not bill you for that time.
                </p>
            </div>
        </div>

        <div class="col-sm-5 opt-border">
            <div class="opt-box">
                <a class="proj-title">Network Installation or Repair</a>
                <p class="proj-text">
                    We can troubleshoot any networking issue from a failing router to a network bridge involving multiple access points. Just let us know your situation when you book the appointment. We suggest you check your cables for tears or damage from pets, along with rebooting your modem or router before scheduling.
                </p>
                <p class="proj-text">
                    If you are scheduling on behalf of a business that has not used our services before, please schedule over the phone or via email so we can discuss your business needs and the associated costs.
                </p>
            </div>
        </div>
</section>
