<section class="info-banner">
    <div class="navbar-dark">
        <section class="row"> 
            <ul class="navbar-nav col-sm-3 button-container">
                <li class="nav-item banner-text">
                    Contact us:
                </li>
                <li class="nav-item">
                    <a href="mailto:cjpavlovich@pavshelpdesk.com" class="banner-text">CJPavlovich@PavsHelpDesk.com</a>
                </li>
                <li class="nav-item">
                    <a href="tel:6023451757" class="banner-text">(602) 345-1757</a>
                </li>
            </ul>

            {{!-- <ul class="navbar-nav col-sm-6 button-container">
                <li class="nav-item banner-text">Connect:</li>
                <li class="nav-item">
                    <a class="banner-text" href="https://www.linkedin.com/company/pavshelpdesk">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="banner-text" href="https://www.facebook.com/pavshelpdesk">facebook</a>
                </li>
            </ul> --}}

            <div class="col-sm-6">
                <p class="nav-item banner-text banner-text-center">
                    <a class="banner-text" href="https://www.linkedin.com/company/pavshelpdesk">LinkedIn</a> | <a class="banner-text" href="https://www.facebook.com/pavshelpdesk">facebook</a>
                </p>
            </div>

            <ul class="navbar-nav col-sm-3 button-container">
                <li class="nav-item banner-text">Disclaimers:</li>
                <li class="nav-item banner-text">
                    <a>Unauthorized site manipulation prohibited.</a>
                </li>
                <li class="nav-item banner-text">
                    {{!-- <a href="https://pavlovichtechnologies.com">Property of Pavlovich Technologies LLC</a> --}}
                    <a>Property of Pavlovich Technologies LLC.</a>
                </li>
            </ul>
        </section>
    </div>
</section>