{{!-- Pricing page --}}

<div class="section-header">Pricing</div>

<section class="row">
    <div class="col-sm-6 opt-border">
        <div class="opt-box">
            <a class="proj-title">Weekday Virtual Residential Support</a>
            <p class="proj-text">
                <ul>
                    <li>30 minute virtual support: $45</li>
                    <li>60 minute virtual support: $85</li>
                </ul>
            </p>

            <a class="proj-title">Weekend Virtual Residential Support</a>
            <p class="proj-text">
                <ul>
                    <li>30 minute virtual support: $60</li>
                    <li>60 minute virtual support: $115</li>
                </ul>
            </p>
        </div>
    </div>
    
    <div class="col-sm-6 opt-border">
        <div class="opt-box">
            <a class="proj-title">Weekday On-site Residential Support</a>
            <p class="proj-text">
                <ul>
                    <li>60 minute on-site support: $110</li>
                    <li>90 minute on-site support: $155</li>
                </ul>
            </p>

            <a class="proj-title">Weekend On-site Residential Support</a>
            <p class="proj-text">
                <ul>
                    <li>60 minute on-site support: $140</li>
                    <li>90 minute on-site support: $200</li>
                </ul>
            </p>        
        </div>
    </div>

</section>