<div class="section-header">Virtual Services</div>

<section class="row">
    <div class="col-sm-12 opt-border">
        <div class="opt-box">
            <a class="proj-title">
                How do we fix anything virtually?
            </a>
            <p class="proj-text">
                Start by scheduling an appointment. If your issue is with an application on a computer, it is best to join the meeting from that device so you can share your screen and allow us to see the problem as you experience it. We will walk you through the steps to quickly resolve the reported issue.
            </p>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Schedule Virtual Support Session
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="https://calendly.com/cjpavlovich/30-minute-weekday-virtual">
                        30 Minute Virtual Support
                    </a>
                    <a class="dropdown-item" href="https://calendly.com/cjpavlovich/60-minute-weekday-virtual">
                        60 Minute Virtual Support
                    </a>
                </div>
            </div>


            <p class="proj-text">
                See a breakdown of some virtual services we can provide below. If you require assistance outside the scope of these descriptions, please give us a call or email, let us know what you need support with, and more than likely we will be able to accommodate.
            </p>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-sm-7 opt-border">
        <div class="opt-box">
            <a class="proj-title">Basic Software Support</a>
            <p class="proj-text">
                When you schedule, please include the name of the application that you are having trouble with (e.g. Outlook, Gmail, Windows 11). Also include a brief description of what you are trying to do with the application that is not working as expected. In our meeting we will ask you to reproduce your issue for us by sharing your screen. We will walk you through steps for the quickest possible resolution.
            </p>
            <p class="proj-text">
                Supported operating systems include Windows and OS-X. We loosely support Linux devices but will often request a pickup of these devices as there are hundreds of distributions making it more time consuming to diagnose issues depending on your distribution. You can expect faster diagnostics if you use an enterprise spin off such as Mint, Ubuntu, Fedora, or CentOS.
            </p>
        </div>
    </div>

    <div class="col-sm-5 opt-border">
        <div class="opt-box">
            <a class="proj-title">Basic Network Support</a>
            <p class="proj-text">
                Over the phone we can walk you through several tips and tricks to get your network up and running again. We recommend rebooting your modem/router before calling in as that will be our first suggestion. If this does not solve the issue, we recommend checking your cables for obvious damage. It is entirely possible that you have a hardware failure, which is something we will not be able to resolve over the phone.
            </p>
            <p class="proj-text">
                Please note that network hardware failures happen, but they are rare. We recommend starting with a virtual appointment.
            </p>
        </div>
    </div>
</section>

<section class="row">
                <div class="col-sm-12 opt-border">
        <div class="opt-box">
            <a class="proj-title">Purchasing Consultations</a>
            <p class="proj-text">
                Do not overspend! It never ceases to amaze how simple solutions can be when you have the full picture. We have experience with a vast number of commercial products including:
            </p>
            <ul>
                <li>Custom business and gaming desktops</li>
                <li>Business and gaming laptops</li>
                <li>Enterprise networking equipment
                    <ul>
                        <li>Access points</li>
                        <li>Network switches</li>
                        <li>Security gateways</li>
                        <li>Servers</li>
                    </ul>
                </li>
                <li>Various operating systems</li>
                <li>Business or gaming monitors</li>
            </ul>
            <p class="proj-text">
                We provide enterprise support for small businesses in the area. If you are authorized to speak on behalf of a business and are looking for such support, please call or email so we can discuss the scope of your business needs.
            </p>
        </div>
    </div>
</section>