<div class="section-header">
    Welcome, how can we help you?
</div>

<section class="row">

    <div class="col-sm-6 opt-border">
        <button class="opt-title opt-box" id="click-virtual">
            Virtual Support
        </button>

        <script>
            document.getElementById('click-virtual').addEventListener('click', function() {
                window.location.href='/virtual';
            });
        </script>
    </div>

    <div class="col-sm-6 opt-border">
        <button class="opt-title opt-box" id="click-on-site">
            On-site Support
        </button>

        <script>
            document.getElementById('click-on-site').addEventListener('click', function() {
                window.location.href='/on-site';
            });
        </script>
    </div>
</section>

<section class="row">
    <div class="col-sm-12 opt-border">
        <div class="opt-box">
            <a class="proj-title">Small Business Support</a>

            <p class="proj-text">
                Support plans are available with varying prices depending on the size of your business and your support needs. Send us an email with the size of your business, the number of computers on site, services that you need managed, a list of the common applications you rely on and might require support with, and whether your hardware is already installed or needs to be set up. There is an initial setup cost and then a monthly maintenance plan to follow. We also offer simplified hourly support if you just need a stand-in for your usual I.T. group while their office is closed.
            </p>

            <p class="proj-text">
                If you are authorized to speak for your business, call us at <a class="active-link" href="tel:6023451757">(602) 345-1757</a> or email <a class="active-link" href="mailto:cjpavlovich@pavshelpdesk.com">cjpavlovich@pavshelpdesk.com</a> with the above information for a free quote. Alternatively, you can make a virtual appointment and, in the description, put "interested in small business options." You will not be billed for your first business consultation. Your second consultation will be billed unless you hire us on a work order.
            </p>
        </div>
    </div>
</section>