{{!-- home page --}}

{{> pavlovHeader}}

<main role="main" class="home-container">
    <div class="container">

        {{> welcome-options}}

        {{> hours-of-operation}}    

        {{> pricing}}

    </div>
</main>

{{> pavlovBanner}}

{{!-- <script src="/home.js" charset="utf-8"></script> --}}
