{{!-- home page --}}

{{> pavlovHeader}}

<main role="main" class="home-container">
    <div class="container">
        
        {{> virtual-services}}

    </div>
</main>

{{> pavlovBanner}}

{{!-- <script src="/home.js" charset="utf-8"></script> --}}
